/* ANTANNAE */
#right-antball {
    stroke: red;
    -webkit-animation: antannae 1s infinite;
            animation: antannae 1s infinite;
}
#left-antball {
    stroke: red;
    -webkit-animation: antannae 1s infinite;
            animation: antannae 1s infinite;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

@-webkit-keyframes antannae {
        from {
            fill: rgba(255, 0, 0, 0.815);
                stroke: rgba(253, 0, 0, 0.26);
                stroke-width: 1%;
                stroke-opacity: 0.5;
            }
        to { fill: none; }
}

@keyframes antannae {
        from {
                fill: rgba(255, 0, 0, 0.815);
                stroke: rgba(253, 0, 0, 0.26);
                stroke-width: 1%;
                stroke-opacity: 0.5;
            }
        to { fill: none; }
}

/* CONTROLS */
.gear-one {
    
}