#right-antball {
    stroke: red;
    -webkit-animation: antannae 1s infinite;
            animation: antannae 1s infinite;
}
#left-antball {
    stroke: red;
    -webkit-animation: antannae 1s infinite;
            animation: antannae 1s infinite;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

@-webkit-keyframes antannae {
    0% {
        fill: red;
        stroke: rgba(253, 0, 0, 0.26);
        stroke-width: 1%;
        stroke-opacity: 0.5;
    }
    100% {
    }
}

@keyframes antannae {
    0% {
        fill: red;
        stroke: rgba(253, 0, 0, 0.26);
        stroke-width: 1%;
        stroke-opacity: 0.5;
    }
    100% {
    }
}