.head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bobot-head {
    width: 75%;
}
.head-frame {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mouth {
    position: fixed;
    top: 175px;
}
input {
    width: auto;
}

/* FUNCTIONS */
#right-bulb {
    filter: url(#bulb);
}
#left-bulb {
    filter: url(#bulb);
}
@keyframes bulbs {
    from {}
    to {}
}
.gear-cont {
    position: fixed;
    top: 142px;
}
#gear-nose {
    width: 25px;
    height: 25px;
    transform-origin: 50% 50%;
    -webkit-animation: gear 4s infinite;
            animation: gear 4s infinite;
}
@keyframes gear {
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(1240deg);transform:rotate(1240deg);}
}
#head-ant {
    -webkit-animation: headant 3s ease infinite;
            animation: headant 3s ease infinite;
    stroke: rgba(255, 217, 0, 0.486);
}
@keyframes headant {
    from {stroke: rgba(255, 217, 0, 0.37);
          stroke-width: 3px;}
    to {}
}
#right-eye {
    animation: gradient 3s ease-in forwards;
}
#left-eye {
    animation: gradient 3s ease-in forwards;
}
@keyframes gradient {
    from {fill: url(#gradient);
        fill-opacity: 0.1;}
    to {fill: url(#gradient);
        fill-opacity: 0.9;}
}