body {
    margin: 0;
}
.bobot-container {

}

/* MAIN BODY CONTAINER */
.body-container {
    text-align: center;
    padding: 8% 0 2% 0;
    /* border: solid 1px rgb(255, 0, 0); */
}
#bobot{
    width: 60vh;
    border: solid 1px aqua;
}

/* DATA FIELDS */
input[type=text] {

}
.input {
    border: solid 1px blue;
}
.output {
    border: solid 1px green;
}
.output-screen {
    border: solid 1px red;
}