/* body {
} */

/* MAIN BODY CONTAINER */
.body-container {
    margin: auto;
    padding: 15%;
    border: solid 1px rgb(255, 0, 0);
}
.bobot-container {
    border: solid 1px black;
    text-align: center;
}
#bobot{
    width: 50vh;
    border: solid 1px aqua;
}

/* DATA FIELDS */
input[type=text] {
    width: 200px;
}
.input {
    border: solid 1px blue;
}